body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 10px;
    flex: 1;
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon {
    width: 18px;
}
